doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title User Registration
    link(rel="stylesheet", href="style.css")
  body
    header
      h1 Register for Mini Twitter

    main
      section#registrationSection
        form#registrationForm
          h2 Register
          div.form-group
            label(for="username") Username
            input#username(type="text", placeholder="Username", name="username", required)
          div.form-group
            label(for="email") Email
            input#email(type="email", placeholder="Email", name="email", required)
          div.form-group
            label(for="password") Password
            input#password(type="password", placeholder="Password", name="password", required)
          button(type="submit") Register

        div.login-link
          p Already have an account? 
            a(href="/login") Login here

    footer
      p © 2023 Sebastian Moreno
