doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Mini Twitter
    link(rel="stylesheet", href="style.css")
  body
    include header.pug

    block content

    include footer.pug
    script(src="app.js")
    script(src="auth.js")

